@charset "utf-8";

/* common start */
*{padding:0;margin:0;}
body {
	font-family:   -apple-system,"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;;
	font-size: 14px;
	color: #333;
	position: relative;
	background: #eeeff1;
}
ol, ul,li,button {
	list-style: none;
	margin:0;
	padding:0;
}

dl, dd {
	margin:0;
	padding:0;
}

em, i, strong, th{
	font-style: normal;
	font-weight: normal
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
}
div{margin:0;padding:0;}
a{color:#333;text-decoration:none}
a:hover{color:#4391E7;text-decoration:none}
a:visited{text-decoration: none}
img{
	border:0;
	margin: 0 0px;
}
.container{
	margin: 0 auto;
	width: 1200px;
	min-width: 1190px;
}
.clear{
	clear: both;
}

/*radio*/
.radio{
	background-color: #333333;
	width: 100%;
	height: 540px;
	margin: 20px auto;
}
.play{
	width:1200px;
	margin: 0 auto;
	position: relative;
}
/*#shotBar{
	position: absolute;
	width: 630px;
	height: 120px;
	background-color: red;
	bottom: 0;
	border: 1px solid green;
}
#shotBar img{
	width: 210px;
	height: 110px;
}*/
#radio{
	width: 80%;
	height: 540px;
	float: left;
	position: relative;
}
.pl-img{
	width: 11px;
	float: left;
	height: 540px;
 	position: relative;
}
.pl-img1, .pl-img2{
	position: absolute;
	top: 48%;
	right: 0%;
	cursor: pointer;
	width: 11px;
	height: 81px;
}
/*play-list*/
.play-list{
	float: right;
	width: 19%;
	height: 540px;
	background-color: #040001;
	position: relative;
}


.play-list>ul{
	border-bottom: 1px solid #FFFFFF;
	height: 30px;
	width: 100%;
}
.play-list>ul>li{
	float: left;
	width: 100px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}
.kc-list{
	display: none;
	position: relative;
}
.radio-list{
	width: 210px;
	margin:0px auto 0 auto;
	height: auto;
	overflow: auto;
}
.yiji{
	width: 210px;
	margin:0px auto 0 auto;
	height: 500px;
	overflow: auto;
}
.radio-list ul li{ 
	line-height: 30px;
	font-size: 14px;
	color:#B3B3B3 ;
	padding-left: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.radio-list ul li a{ 
	line-height: 30px;
	font-size: 14px;
	color:#B3B3B3 ;
	padding-left: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.radio-list ul li:hover{
	color: #FFFFFF;
}
.radio-list ul li a{
	padding-left: 10px;
	color: #B3B3B3; 
	display: block; 
	font-weight:bold;
	line-height: 30px;
	position: relative;
}
.radio-list ul li ul{display: none;}
.radio-list ul li ul li a{
	padding-left: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.radio-list ul li ul li ul{
	display: none;
}
.radio-list ul li ul li ul li a{ 
	padding-left:20px;
	width: 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.radio-list ul li .inactive{ 
	background:url(../img/xzx-play16.png) no-repeat -16px center;
}
.radio-list ul li .inactives{ 
	background:url(../img/xzx-play17.png) no-repeat -16px center;
}
/*.radio-list ul li .inactives{
	background:url(../img/xzx-play17.png) no-repeat 3px center;
} */
.radio-list ul li a:hover{
	color: #FFFFFF;
}
.act{
	background-image: url(../img/xzx-play01.png);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 100px;
	height: 28px;
	background-size: auto;
	padding-bottom: 5px;
	color: #009E94!important;
}
/*text-list*/
.form{
	width: 100%;
	margin: 16px auto;
	height: auto;
}
.form textarea{
	width: 180px;
	height: 100px;
	max-width: 180px;
	max-height: 100px;
	margin: 10px auto 0 auto;
	display: block;
	padding: 6px;
	line-height: 20px;
	font-size: 14px;
}
.form .addbj{
	width: 100%;
	height: 30px;
	margin: 10px auto;
	padding-bottom: 6px;
	border-bottom: 1px solid #B3B3B3;
}
.addbj p{
	background: url(../img/xzx-play10.png);
	background-size: cover;
	width: 20px;
	height: 14px;
	float: left;
	cursor: pointer;
	margin:10px 16px 0 10px;
}
.addbj span{
	float: left;
	font-size: 13px;
	color: #B3B3B3;
	margin-top: 6px;
	line-height: 20px;
}
.addbj span img{
	width: 14px;
	height: 14px;
	padding-right: 4px;
}
.addbj input{
	background: #02ba7e;
	width: 70px;
	height: 26px;
	border: none;
	cursor: pointer;
	float: right;
	color: #FFFFFF;
	margin:0px 20px 0 0;
	border-radius: 6px;
}

.text-list{
	width: 100%;
	height: 500px;
	overflow: auto;
	margin: 0 auto;
}
.text-list::-webkit-scrollbar, .yiji::-webkit-scrollbar{
    width: 4px;  
}
.text-list::-webkit-scrollbar-thumb,.yiji::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #EEEEEE;
}
.text-list::-webkit-scrollbar-track,.yiji::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.text-detial{
	width: 100%;
	height: auto;
	overflow: auto;
	margin: 0 auto 20px auto;
}
.text-top{
	line-height: 30px;
	color: #B3B3B3;
	font-size: 13px;
	width: 100%;
	height: auto;
	margin-bottom: 6px;
}
.text-top p, .text-top img{
	float: left;
	margin-right: 6px;
}
.text-top img{
	width: 17px;
	height: 17px;
	margin: 4px 6px 0 4px;
}
.text-top h2{
	background: url(../img/xzx-play08.png) no-repeat;
	background-position: center;
	background-size: auto;
	width: 43px;
	height: 24px;
	font-size: 12px;
	float: right;
	margin-right: 16px;
	line-height: 24px;
	text-align: left;
	color: #666;
}
.text-text{
	width: 200px;
	height: auto;
	padding-left: 6px;
}
.text-text img{
	width: 160px;
	height: 80px;
}
.text-text p{
	line-height: 20px;
	color:#B3B3B3 ;
	text-indent: 2em;
}
/*detial*/
.detial{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.player-container{
	width: 100%;
	height: auto;
	margin: 0 auto;
	float: left;
}

.kcxx{
	width: 960px;
	height: auto;
	margin-bottom: 20px;
	float: left;
}
.kcxx-class{
	padding-left: 30px;
	line-height: 30px;
	font-size: 20px;	
}
.kcxx-left-top{
	background-color: #FFFFFF;
	padding: 20px 0 10px 0;
}
.kcxx-detial span{
	color: #999;
}
.kcxx-detial {
	font-size: 13px;
	color: #03b980;
	letter-spacing: 0.2em;
	padding-bottom: 16px;
	margin-left: 30px;
	border-bottom: 1px solid #EEEEEE;
}
.kcxx-text{
	height:auto;
	margin: 10px 0px 20px 30px;
	padding-bottom: 20px;
}
.kcxx-text h1{
	font-size: 18px;
	float: left;
	margin-right: 16px;
}
.kcxx-text p{
	width: 100%;
	line-height: 20px;
	font-size: 12px;
	color: #999;
}
.kcxx-video h1{
    background-image: url(../img/xzxz-play06.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 40px;	
    font-size: 16px;
    line-height: 40px;
    padding-bottom: 10px;
    background-size: auto;
    background-position: bottom;
    margin-left:30px;
}
.kcxx-video h1 img{
	float: left;
	width: 26px;
	height: 26px;
	margin-right:10px ;
	padding: 6px;
	background-color: #EEEEEE;
}
.video-list{
   margin: 0 0 0 30px;
   position: relative;
   border-top: 1px solid #E2E2E2;
}

.video-list .slideBox ul{ overflow:hidden; zoom:1;   }
.video-list .slideBox ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center; }
.sPrev{ position:absolute; left:-20px; top:40px; display:block; width:20px; height:94px; background:url(../img/xzx-play14.png) center center no-repeat ; }
.sNext{position:absolute; top:40px; right:40px;display:block; width:20px; height:94px;  background:url(../img/xzx-play13.png) center center no-repeat;  }
.sPrev:hover, .sNext:hover{ border-color:#999; }



.video-detial{
	width: 200px;
	height: auto;
	padding-bottom: 4px;
	margin: 16px 0px 0 0;
	background-color:#f2f2f2;
	min-height: 152px;
}
.video-detial img{
	width: 200px;
	height: 100px;
	display: block;
}
.video-detial p{
	width: 160px;
	line-height: 24px;
	text-align: center;
	margin: 0 auto;
}


/*.layui*/
.layui-tab{
	background-color:#FFFFFF;
	width: 960px;
	margin-top: 20px!important;
}

.layui-tab-title .layui-this:after{
	/*border:none!important;*/
}
.layui-this{
	/*border-bottom: 2px solid #03b980;
	border-color: #FFFFFF;*/
	color: #03b980!important;
}
.layui-tab-title li {
	padding: 0 30px!important;
}
/*layui-tab-item-one*/
.online-list{
	background: #fdfbfc;
	width: 100%;
	height: 54px;
	margin-bottom:20px;
}
.online-list .online-img{
	float: left;
}
.online-list .online-img img{
	width: 53px;
	height: 54px;
	display: block;
}
.online-list .subject{
	float: left;
	line-height: 54px;
	font-size: 16px;
	margin-left: -10px;
	width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.online-collect{
	float: left;
	width: 40px;
	margin-right: 30px;
	height: 53px;
}
.online-collect img{
	margin-top: 12px;
	cursor: pointer;
	display: block;
	width: 26px;
	height: 26px;
}
.online-list .plan, .online-list .begining, .online-list .ending{
	float: left;
	height: 20px;
	width: 160px;
	margin:20px 60px 0 0;
  	background: #ebebeb;
  	border-left: 1px solid transparent;
  	border-right: 1px solid transparent;
  	border-radius: 10px 
	margin-right: 40px;
	border-radius: 10px;
}
.online-list .plan > span, .online-list .begining>span, .online-list .ending>span {
  position: relative;
  float: left;
  margin: 0 -1px;
  min-width: 30px;
  height: 18px;
  line-height: 16px;
  text-align: right;
  background: #FF9C44;
  border: 1px solid;
  border-color: #bfbfbf #b3b3b3 #9e9e9e;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.online-list .plan > span > span, .online-list .begining >span>span, .online-list .begining>span>span{
  padding: 0 8px;
  font-size: 11px;
  font-weight: bold;
  color: #404040;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.online-list .plan > span:before .online-list .begining>span:before, .online-list .ending>span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 18px;
  border-radius: 10px;
}
.plane .blue, .begining .blue, .ending .blue {
  background: #FF9C44;
  border-color: #459fd6 #3094d2 #277db2;
  background-image: -webkit-linear-gradient(top, #aed5ed, #7bbbe2 70%, #EB7350);
  background-image: -moz-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -o-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: linear-gradient(to bottom, #aed5ed, #7bbbe2 70%, #5aaadb);
}
.online-list p{
	float: left;
	line-height: 54px;
	font-size: 14px;
	margin-right: 80px;
}
.online-list .all-time{
	width: 140px;
	line-height: 54px;
	float: left;
	font-size: 14px;
}
.online-list input{
	float: right;
	width: 80px;
	height: 30px;
	background-color:#ff9c44 ;
	font-size: 14px;
	cursor: pointer;
	border: none;
	margin: 10px 14px 0 0;
	font-weight: bold;
	border-radius: 6px;
}
.online-list input:hover{
	color: #FFFFFF;
}

/*layui-tab-item-three*/
.dayi-list{
	width: 98%;
	margin: 10px auto;
	border-bottom: 1px solid #f0f0f2;
	padding-bottom:10px;
	height: auto;
}
.end1-text{width:860px; border-bottom: 1px solid #eee; padding-bottom: 16px;}
.end1-text form textarea{width: 800px; height: 120px;margin: 10px 0 0 60px; max-width: 800px; max-height: 120px; border: 1px solid #D3D3D3;line-height: 20px; padding: 4px; }
.text-active{border: 1px solid #FFB800; /*box-shadow: 0 0px 8px 0px rgb(0 0 0 0.4);*/}
.end1-text .pingfa1{width: 860px;}
.end1-text .pingfa1 input{width: 80px; height: 30px; margin-top:16px; border: none; color: #FFFFFF; background: #DC4900; float: right; cursor: pointer;}

#pn{width: 860px; height: auto; background: #fff; margin: 0 auto;}
.list0{padding: 20px 0; position: relative; border-bottom: 1px solid #eee; }
.Head{width: 60px; float: left;}
.Head img{width: 60px; height: 60px;border-radius:50%; }
.close{width: 20px; height: 20px; position: absolute; top: 0; right: 0; color: #696e78; font-size: 14px; text-align: center; line-height: 20px;}
.close:hover{color: #eb7350;}
.content{width: 760px; line-height: 20px; font-size: 14px; margin-left: 70px; }
.name{color: #eb7350; }
.pic{margin: 5px 0;}
.good:after{clear:both;content:'';display:block;width:0;height:0;visibility:hidden;}
.good{*zoom:1;}
.date{float:left; color: #808080;}
.good .dzan {float: right; width: 30px; margin-right: 30px;}
.dzan img{width: 32px; height: 32px; display: block; cursor: pointer;}
.people{ height: 28px; line-height: 28px; margin: 5px auto;}
.comment:after{clear:both;content:'';display:block;width:0;height:0;visibility:hidden;}
.comment{*zoom:1; padding: 10px 0; border-top: 1px solid #eee;}
.comment-left{width: 30px; float: left; display: inline; margin-right: 10px;}
.comment-left img{width: 30px; height: 30px; border-radius: 50%;}
.comment-right{float: left; width: 640px;}
.comment-text{line-height: 18px;}
.comment-text span{color:#eb7350;}
.comment-date{font-size: 12px; line-height: 14px; color: #ccc; position: relative;}
.comment-zan{position: absolute; right: 40px;top: 40px;  color: #808080; text-align: center; display: block; cursor: pointer;}
.comment-zan img{width: 22px;height: 18px;}
.comment-dele{position: absolute; right: 0; bottom: 0; color: #808080;}
.hf:after{clear:both;content:'';display:block;width:0;height:0;visibility:hidden;}
.hf{*zoom:1;}
.hf-text{ border: 1px solid #eee; display: block; height: 15px; width: 720px; padding: 5px; resize: none; color: #ccc; font-size:12px;}
.hf-on .hf-text{height: 60px; color: #333; border:1px solid #ff8140;}
.hf-btn{float: right; width: 65px; height: 26px;border: none; background: #DC4900; color: #ccc; font-size: 12px; display: none; margin-top: 10px;}
.hf-btn-on{background: #ff8140; color: #fff; }
.hf-nub{float: right; padding: 3px 5px; color: #666; display: none;}
.hf-on .hf-btn{display: inline;}
.hf-on .hf-nub{display: inline;}
.layui-laypage-em{
	background-color:#03b980!important ;
}
/*layui-tab-item-three*/
.kcbj-text{
	margin: 10px auto;
	border-bottom: 1px solid #EEEEEE;
	height: auto;
	padding-bottom: 10px;
	width: 100%;
}
.kcbj-text-img{
	float: left;
	width: 60px;
	height: 60px;
	margin: 0 16px 0 0;
}
.kcbj-text-img img{
	width: 60px;
	height: 60px;
	display: block;
}
.kcbj-detial{
	float: left;
	height: auto;
	width: 860px;
}
.kcbj-detial-head{
	line-height: 20px;
}
.kcbj-detial-head h1{
	color: #29a67c;
	font-weight: bold;
	font-size: 15px;
	float: left;
}
.kcbj-detial-head p{
	float: right;
	color: #999;
	font-size: 14px;
	margin-right: 20px;
}
.kcbj-detial-head span{
	float: right;
	font-size: 13px;
}
.kcbj-text-text{
	line-height: 20px;
	font-size: 14px;
}
.kcbj-text-text img{
	width: 220px;
	height: 140px;
	display: block;
	margin:10px 0 10px 0 ;
}
.kcbj-date{
	font-size: 13px;
	color: #999999;
	margin-top: 10px
}

/*layui-four*/
.download-list{
	border: 1px solid #dcdcdc;
	background: #fdfbfc;
	height: 40px;
	margin-bottom: 20px;
}
.download-list li{
	float: left;
	padding: 0 10px;
	line-height: 40px;
	width: 200px;
}
.download-list li h1{
	font-size: 16px;
	font-weight: bold;
}
.download-list li h2{
	color: #999999;
	font-size: 13px;
}
.download-button{
	float: right!important;
	margin-right: 20px;
	text-align: center;
}
.download-list li input{
	font-size: 13px;
	background: #03b980;
	width: 80px;
	height: 26px;
	margin: 6px 0 0 130px;
	border: none;
	cursor: pointer;
}
.download-list li input:hover{
	color: #FFFFFF;
}
/*kcxx-right*/
.kcxx-right{
	float: right;
	width: 220px;
	height: auto;
}
.kcxx-teacher{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	padding: 10px 10px 20px 10px;
}
.kcxx-teacher h1{
	margin-left: 20px;
	color: #03b980;
	font-size: 20px;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #EEEEEE;
}
.kcxx-teacher img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 20px auto;
	display: block;
	cursor: pointer;
}
.kcxx-teacher h2{
	text-align: center;
	font-size: 18px;
	padding: 10px 0;
	font-weight: bold;
}
.kcxx-teacher p{
	line-height: 20px;
	font-size: 17px;
	text-indent: 2em;
}
.kcxx-student{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	padding: 10px 10px 20px 10px;
	margin-top: 20px;
}
.kcxx-student-top{
	margin-left: 20px;
	color: #03b980;
	font-size: 20px;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #EEEEEE;
}
.student-text{
	margin: 20px 0 20px 6px;
}
.student-text img{
	width: 50px;
	height: 50px;
	display: block;
	cursor: pointer;
	border-radius: 50%;
	float: left;
	margin-right: 6px;
}
.student-detial{
	margin-top:10px;
}
.student-detial h1, .student-detial h2, .student-detial p{
	line-height: 20px;
	font-size: 12px;
}
.student-detial p span{
	
}
